<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$title}</title>
    <link href="__ROOT__/statics/css/default.css" rel="stylesheet" media="screen">
    <!--表单验证-->
    <link href="__ROOT__/statics/framework/validator/css/bootstrapValidator.css" rel="stylesheet">

    <script src="__ROOT__/statics/js/jquery-3.1.0.js"></script>
    <script src="__ROOT__/statics/framework/bootstrap/js/bootstrap.js"></script>
    <script src="__ROOT__/statics/js/background-blur.js"></script>
    <script src="__ROOT__/statics/js/common.js"></script>
    <!--表单验证-->
    <script src="__ROOT__/statics/framework/validator/js/bootstrapValidator.js"></script>
    <!--弹窗bootbox-->
    <script src="__ROOT__/statics/js/bootbox.js"></script>
</head>
<body>