<include file="Public:header" />
<div class="container ">
   <div class="row ">
       <div class="col-sm-6 col-sm-offset-3 ">
           <table class="table table-hover table-striped">
               <thead>
               <tr>
                   <th>院系名称</th>
                   <th width="50">操作</th>
                   <th width="50"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" onclick="addClick()">新增</button></th>
               </tr>
               </thead>
               <tbody id="tbody">
               <voList name="alist" id="vo">
                   <tr>
                       <td class="hidden">{$vo['department_id']}</td>
                       <td id={$vo['department_id']}>{$vo['department_name']}</td>
                       <td >
                           <button  class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" onclick="editClick({$vo['department_id']})" >编辑</button>
                       </td>
                       <td>
                           <button  class="btn btn-danger btn-sm"  onclick="del({$vo['department_id']})">删除</button>
                       </td>
                   </tr>
               </voList>
               </tbody>
           </table>
           <div class="pages">
               {$page}
           </div>
       </div>
   </div>
</div>
<!--Modal-->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">标题</h4>
            </div>
            <form id="form1" method="post">
                <div class="modal-body row">
                    <div class="form-group-sm col-sm-6">
                        <h4>院系名称</h4>
                       <input type="text" class="form-control" id="departmentName" name="department_name">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="submit">提交更改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    /*
     编辑、新增窗口
     */
    var method='';
    var departmentID='';
    var departmentID='';
    function editClick(department_id) {
        method='edit';
        $('#myModalLabel').text('编辑');
        $('#submit').text('确认修改');
        $('#departmentName').val('');
        departmentID=department_id;
    }

    function addClick() {
        method='add';
        $('#myModalLabel').text('新增');
        $('#submit').text('确认添加');
        $('#departmentName').val('');
    }

    function del(department_id) {
        departmentID = department_id;
        method='del';
        bootbox.confirm('确定删除?',function (result) {
            if(result){
                $.post("__URL__/del",{department_id:departmentID},function (data) {
                    if(data.status=='true'){
                        bootbox.alert('删除成功');
                        location.reload();
                    }else {
                        bootbox.alert(data.result);
                    }
                });
            }
        });

    }
    /*
    验证validator
    */
    $(document).ready(function () {
        $('#form1').bootstrapValidator({ message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },fields:{
                department_name:{
                    message:'',
                    validators:{
                        notEmpty:{
                            message:'不能为空!'
                        },
                        remote:{
                            message:'该系已经存在!',
                            url:'__URL__/issetDepartmentName',
                            delay:2000,
                            type:'POST',
                            /**自定义提交数据，默认值提交当前input value
                             *  data: function(validator) {
                               return {
                                   password: $('[name="passwordNameAttributeInYourForm"]').val(),
                                   whatever: $('[name="whateverNameAttributeInYourForm"]').val()
                               };
                            }
                             */
                        }
                    }
                }
            }
        }).on('success.form.bv',function (e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            if(method=='add'){
                departmentName=$('#departmentName').val();
                $.post("__URL__/add",{department_name:departmentName},function (data) {
                    if(data.status='true'){
                        $('#myModal').modal('hide');
                        bootbox.alert('添加成功',function () {
                            location.reload();
                        });
                    }else {
                        bootbox.alert('添加失败');
                    }
                });
            }
            if(method=='edit'){

                departmentName=$('#departmentName').val();
                $.post("__URL__/update",{department_iddepartment_id:departmentID,department_name:departmentName},function(data) {
                    if(data.status='true'){
                        $('#myModal').modal('hide');
                        $('#'+departmentID).text(departmentName);
                        bootbox.alert('修改成功');
                    }else {
                        bootbox.alert('修改失败');
                    }
                });//post结束
            }//edit结束
        });//
    });

</script>
<include file="Public:footer" />