<!--<!DOCTYPE html>-->
<!--<html lang="zh-CN">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--<title>index</title>-->
    <!--<link href="__ROOT__/statics/css/default.css" rel="stylesheet" media="screen">-->
    <!--&lt;!&ndash;表单验证&ndash;&gt;-->
    <!--<link href="__ROOT__/statics/framework/validator/css/bootstrapValidator.css" rel="stylesheet">-->

    <!--<script src="__ROOT__/statics/js/jquery-3.1.0.js"></script>-->
    <!--<script src="__ROOT__/statics/framework/bootstrap/js/bootstrap.js"></script>-->
    <!--<script src="__ROOT__/statics/js/background-blur.js"></script>-->
    <!--&lt;!&ndash;表单验证&ndash;&gt;-->
    <!--<script src="__ROOT__/statics/framework/validator/js/bootstrapValidator.js"></script>-->
<!--</head>-->
<!--<body>-->
<include file="Public:header" />
<div class="container background-img">
    <div class="content row col-lg-4 col-lg-offset-4">
        <div class=" page-header text-center">
            <img width="100px" height="100px" src="__ROOT__/statics/img/icon.png" alt="图标" class="img-circle">
            <h3 style="color: white">α工作室欢迎你的加入</h3>
        </div>
        <form id="form1" method="post" class=""  ><!--action="{:U('Home/Index/join')}"-->
            <div class="form-group">
                <input type="text" class="form-control" id="inputName" name="student_name" placeholder="请输入姓名">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="inputStudentNumber" name="student_number" placeholder="请输入学号">
            </div>

            <div class="form-group">
                <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="请输入电话号码">
            </div>

            <div class="form-group">
                <select class="form-control" name="department_id">
                    <option value="">请选择院系</option>
                    <voList name="alist" id="vo">
                        <option value={$vo['department_id']}>{$vo['department_name']}</option>
                    </voList>
                </select>
            </div>

            <div class="radio-inline">
                <label>
                    <input type="radio" name="student_sex" value="男" checked>男
                </label>
            </div>

            <div class="radio-inline">
                <label>
                    <input type="radio" name="student_sex" value="女" >女
                </label>
            </div>

            <div class="form-group">
                <textarea rows="4" class="form-control" name="argument" placeholder="请输入申请理由（不超过200字）"></textarea>
            </div>

            <div class="form-group btn-group-lg">
                <button type="submit" class="btn btn-default btn-block ">提交</button>
            </div>

        </form>
        <div class="navbar-fixed-bottom text-center">
            <h6 style="color: #fff;">三江学院阿尔法工作室</h6>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var $backgroundView = $('.background-img');
        $backgroundView.backgroundBlur({
            imageURL: '__ROOT__/statics/img/background-img.jpg', // URL to the image that will be used for blurring
            blurAmount: 10, // Amount of blur (higher amount degrades browser performance)
            imageClass: 'bg-blur', // CSS class that will be applied to the image and to the SVG element,
            overlayClass: 'bg-blur-overlay', // CSS class of an element that will overlay the blur background (useful for additional effects or putting a spinner)
            duration: 1000, // If the image needs to be faded in, how long that should take
            endOpacity: 1 // Specify the final opacity that the image will have
        });//背景模糊结束
        //表单验证开始
        $('#form1').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },fields:{
                student_name:{
                    message:'请输入姓名',
                    validators:{
                        notEmpty:{
                            message:'姓名不能为空哟'
                        },
                        stringLength:{
                            min:2,
                            max:5,
                            message:'输入的姓名不正确'
                        },
                        regexp:{
                            regexp:/^[\u4e00-\u9fa5]*$/,
                            message:'输入的姓名不正确'
                        }
                    }
                },
                student_number:{
                    message:'请输入学号',
                    validators:{
                        notEmpty:{
                            message:'学号不能为空'
                        },
                        regexp:{
                            regexp:/\b\d{11}\b/,
                            message:'输入的学号不正确,请重新输入'
                        },
                        remote:{
                            message:'该学号已经申请过啦!',
                            url:'__URL__/existStudentNumber',
                            delay:2000,
                            type:'POST',
                            /**自定义提交数据，默认值提交当前input value
                             *  data: function(validator) {
                               return {
                                   password: $('[name="passwordNameAttributeInYourForm"]').val(),
                                   whatever: $('[name="whateverNameAttributeInYourForm"]').val()
                               };
                            }
                             */
                        }
                    }
                },
                phone:{
                    message:'请输入手机号码',
                    validators:{
                        notEmpty:{
                            message:'手机号码不能为空'
                        },
                        regexp:{
                            regexp:/^1[3|4|5|7|8]\d{9}$/,
                            message:'手机号码不正确,请重新输入'
                        }
                    }
                },
                department_id:{
                    messgae:'请选择院系',
                    validators:{
                        notEmpty:{
                            message:'请选择院系'
                        }
                    }
                },
                argument:{
                    message:'请输入姓名',
                    validators:{

                        stringLength:{
                            min:0,
                            max:200,
                            message:'最多200字'
                        },
                    }
                },

            }
        }).on('success.form.bv',function (e) {
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post("__URL__/join",$('#form1').serialize(),function (data) {
                if(data.status='true'){
                    //添加数据
                    bootbox.alert('申请成功!',function () {
                        location.reload();
                    });
                }else {
                    bootbox.alert('申请失败');
                }
            });
        });
        //表单验证结束
    });//ready(function(){})结束
</script>
<include file="Public:footer" />