<include file="Public:header"/>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="__URL__" role="tab" >管理员管理</a></li>
    <li role="presentation"><a href="__URL__/add" role="tab" >添加管理员</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="admin">
        <!--初始信息-->
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 col-sm-offset-1 ">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名(账号)</th>
                            <th>姓名</th>
                            <th>上次登录(更新)时间</th>
                            <th>上次登录IP</th>
                            <th>登录次数</th>
                            <th>角色</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <voList name="alist" id="vo">
                            <tr>
                                <td>{$vo['id']}</td>
                                <td>{$vo['account']}</td>
                                <td>{$vo['name']}</td>
                                <td>{$vo['update_time']}</td>
                                <td>{$vo['client_ip']}</td>
                                <td>{$vo['login_count']}</td>
                                <td>{$vo['role_name']}</td>
                                <td><php>echo $vo['status']==0?'未启用':'启用'</php></td>
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="{:U('Admin/edit',array('id'=>$vo['id']))}">修改</a>
                                        </li>

                                        <li>
                                            <a href="#" onclick="ajaxDel('__URL__/del',{id:{$vo['id']}})">删除</a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>
                        </voList>
                        </tbody>
                    </table>
                    <div class="pages">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<include file="Public:footer"/>